:root{
    --white: #ffffff;
    --gray-100: #e1e1e6;
    --gray-300: #c4c4cc;
    --gray-400: #8d8d99;
    --gray-600: #323238;
    --gray-700: #29292e;
    --gray-800: #202024;
    --gray-900: #121214;
 
    --green-300: #00B37E;
    --green-500: #00875f;

    --red-500: #F75A68;

    --purple-100: #b491c8;
    --purple-500: #52307c;
    --purple-800: #3c1361;   
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--gray-800);
}


h1, h2, h3, p {
    color: var(--gray-100);
    text-decoration: none;
}

a {
    color: var(--purple-100);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    padding: 1rem 0 1rem 0;
}

.wrapper {
    max-width: 70rem;
    margin: 0 auto;
    padding: 1rem;
}

/* Header Component */

.navbar {
    background-color: var(--gray-800);
    color: var(--white);
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.menu li {
    margin-right: 1rem;
}

.menu a {
    text-decoration: none;
    color: var(--white);
    transition: color 0.3s ease-in-out;
}

.menu a:hover {
    color: var(--purple-100);
}

.menu-toggle {
    display: none;
    font-size: 1rem;
    cursor: pointer;
}

.main-content {
    padding: 1rem;
    margin: 1rem;
}


/* Footer Component */

.footer {
    background-color: var(--gray-800);
    color: var(--white);
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer social-link {
    color: var(--white);
    text-decoration: none;
    display: inline-block;
    margin: 0 1rem;
    transition: transform 0.3s;
}

.footer social-link:hover {
    transform: translateY(-5px);
}

.footer span {
    display: block;
    margin-top: 0.25rem;
}

.footer p {
    margin-top: 0.5rem;
}


/* About Component */

.about ul {
    list-style-type:none;
    padding: 0;
}

.about li {
    font-size: 1rem;
    margin-bottom: 8px;
    padding-left: 20px;
    position: relative;
}

.about li:before {
    content: "-";
    color: var(--white);
    font-size: 14px;
    position: absolute;
    left: 0;
    top: 4px;
}

.about p {
    line-height: 1.6;
}

.books,
.podcasts,
.passions,
.songs {
    color: var(--white);
}

.passions h2 {
    font-size: 24px;
    margin-bottom: 10px;
}


.book-item,
.podcast-item,
.passions li,
.songs li {
    margin-bottom: 10px;
}

.bio,
.books,
.podcasts,
.passions,
.songs {
    margin-bottom: 30px;
}


.bio {
    line-height: 1.6;
}

.about h2 {
    padding: 1rem 0 0.5rem 0;
}

/* Resume Component */

.resume h2 {
    border-bottom: 0.05rem solid var(--gray-100);
    color: var(--white);
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

.resume h3 {
    padding: 1.5rem 0 0.5rem 0;
}

.resume p {
    padding: 0.5rem 0 0.5rem 0;
}

.resume ul {
    list-style-type: none;
    padding: 0;
}

.resume li {
    margin-bottom: 0.5rem;
}

.resume section {
    margin: 1rem auto;
    padding: 1rem;
    color: var(--white);
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
}

.resume section p {
    color: var(--gray-400);
}

.experience h2 {
    margin-bottom: 0rem;
}

.skills ul {
    padding: 0.5rem 0rem 0.5rem 0.5rem;
}

/* Responsive Styles */
@media screen and (max-width: 400px) {
    .menu {
        display: none;
        flex-direction: column;
        background-color: var(--gray-800);
        width: 100%;
        position: absolute;
        top: 4rem;
        left: 0;
        box-shadow: 0px 0.025rem 0.5rem rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    .menu show {
        display: flex;
    }

    .menu li {
        margin: 0.5rem 0;
        text-align: center;
    }

    .menu-toggle {
        display: block;
    }

    .social-link {
        display: block;
        margin: 0.5rem auto;
    }
}
