<div class="about" >

    <h1>About me</h1>

    <div class="bio">
        <p>Hi, I'm Evandro!</p><br>
        <p>
            I am a passionate developer. I started coding around 2010.
            My professional journey took a brief deviation into marketing, where I dedicated around 7 years to gaining valuable insights into education and improving my soft skills.
        </p>
        <p>
            I've been enjoying my time living in Melbourne, VIC, Australia.
            I'm totally open to packing my bags and moving anywhere, depending on the opportunities and lifestyle it offers.
        </p><br>
        <p>This is my corner on the web for writing, projects, and anything else I want to share. Check out my <a href="https://github.com/evandrolugli/" target="_blank">GitHub</a>.</p>
        <p>This site is ad-free, without affiliate links, tracking, analytics, sponsored posts, or a paywall.</p>
        <p>
            My motivation behind this space is self-expression and sharing my learnings with the world.
            I hope to inspire others to create their own creative corners on the web. Feel free to drop me an email at <a href="mailto:evandro.lugli@gmail.com">evandro.lugli@gmail.com</a> to say hi!"
        </p>

<!-- 
        <p>Hi, I am Evandro. I've been a software developer since 2014 and have been making websites since 1998.</p>
        <p>This is my spot on the web for writing, projects, and anything else I want to put out there. Check out the <a href="#">GitHub</a>.</p>
        <p>This site has no ads, no affiliate links, no tracking or analytics, no sponsored posts, and no paywall. My motivation for this site is to have a space for self-expression and to share what I've learned with the world. I hope I will inspire others to make their own creative corner on the web as well.</p>
        <p>Feel free to contact me by email at <a href="mailto:evandro.lugli@gmail.com">evandro.lugli@gmail.com</a> to say hi!</p> -->
    </div>

    <div class="books">
        <h2>Books</h2>
        <ul>
            <li class="book-item">
                <h3 class="book-title">Animal Farm</h3>
                <p class="book-author">George Orwell</p>
            </li>
            <li class="book-item">
                <h3 class="book-title">1984</h3>
                <p class="book-author">George Orwell</p>
            </li>
        </ul>
    </div>

    <div class="podcasts">
        <h2 class="section-title">Podcasts</h2>
        <ul class="podcast-list">
            <li class="podcast-item">Lex Fridman</li>
            <li class="podcast-item">Pod Pah</li>
        </ul>
    </div>

    <div class="passions">
        <h2>Passions</h2>
        <ul>
            <li>Football</li>
            <li>Programming / Coding</li>
            <li>Swimming</li>
            <li>Chess</li>
        </ul>
    </div>

    <div class="songs">
        <h2>Songs</h2>
        <ul>
            <li>Sorri Sou Rei - Natiruts</li>
            <li>Redemption Song - Bob Marley</li>
        </ul>
    </div>

</section>