<div class="projects">

    <h1>Projects</h1>
    
    <div class="project-card">
        <!-- <img class="project-image" src="https://via.placeholder.com/80x40" alt="Project 1"> -->
        <div class="project-details">
            <h2>Podcast Summarizer AI</h2>
            <p>This AI-powered project lets you upload a video, convert it to audio using WebAssembly, generate a transcription, and get brilliant insights from an AI.</p>
            <a href="podcast-summarizer.vercel.app" target="_blank">podcast-summarizer.vercel.app</a>
        </div>
    </div>

    <div class="project-card">
        <!-- <img class="project-image" src="https://via.placeholder.com/80x40" alt="Project 2"> -->
        <div class="project-details">
            <h2>Chess</h2>
            <p>Would like to play chess?</p>
            <a href="#">Github</a>
        </div>
    </div>

    <div class="project-card">
        <!-- <img class="project-image" src="https://via.placeholder.com/80x40" alt="Project 2"> -->
        <div class="project-details">
            <h2>Wheather Man</h2>
            <p>Working in Progress</p>
            <a href="#">...</a>
        </div>
    </div>

    <!-- Add more project cards as needed -->

</div>