<div class="resume">

    <h1>Evandro Lugli</h1>
    <p>Melbourne, VIC | Email: evandro.lugli@gmail.com | 
        <a href="https://www.linkedin.com/in/evandrolugli" target="_blank">LinkedIn</a>
    </p>
    
    <section class="experience">
        <h2>Experiencie</h2>
        <div>
            <h3>Student Service | NextEd Group – Greenwich College | Mar 2023 – Present</h3>
            <p>As a Student Service at an English college, I have a role in supporting the office operations and assisting the Student Service team.</p>
            <ul>
                <li>> Assisting the reception by managing book fill-ups and ensuring efficient record-keeping.</li>
                <li>> Handling student card issuance and maintenance, ensuring accurate and up-to-date information.</li>
            </ul>
        </div>

        <div>
            <h3>Software Engineer | BRQ Digital Solutions | May 2021 - Apr 2022 (1 year)</h3>
            <p>As a member of the solutions’ team, I worked directly with Santander Bank, where I granted integration with back-end systems and facilitated efficient communication with external services.</p>
            <ul>
                <li>> Developed and maintained projects utilizing Java to deliver robust and scalable solutions.</li>
                <li>> Utilized a range of technologies such as Java, Spring Framework, Microservices, Protocols (SOAP, REST, WSDL, JSON), MS SQL Server, Git, Unit Test, DevOps, Jenkins (Cloudbees), Openshift, and Azure.</li>
                <li>> Worked in a team environment of nine technical staff in an agile environment using team-based methodologies and troubleshooting techniques.</li>
            </ul>
        </div>

        <div>
            <h3>Product Owner | Laureate International Universities | Mar 2013 – Feb 2020 (7 years)</h3>
            <p>The Laureate International Universities network comprises over 25 higher education institutions around the globe and more than 875000 students. As the Product Owner, I was responsible for market analysis and competition monitoring with a focus on portfolio management and pricing.</p>
            <ul>
                <li>> Marketing analysis of the international education industry.</li>
                <li>> Managed a team of four marketing analysts: including scheduling and strategic forecasting.</li>
                <li>> Maintained direct communication with stakeholders, providing regular reports and key updates.</li>
            </ul>
        </div>

        <div>
            <h3>.Net Developer | Woow! Brasil | Sep 2011 - Sep 2012 (1 year and 1 month)</h3>
            <p>I developed projects using .Net Framework and Microsoft SQL Server database, facilitating integration with both back-end and front-end systems.</p>
            <ul>
                <li>> Developed and maintained projects utilizing front-end web technologies such as HTML, CSS, JavaScript, and C# as a back-end programming language.</li>
                <li>> Modeling and data manipulation in Microsoft SQL Server database.</li>
                <li>> Utilized Asp.Net MVC 2 and Asp.Net MVC 3 as web applications.</li>
            </ul>
        </div>
    </section>

    <section class="skills">
        <h2>Key Skills and Attributes</h2>
        <p>Technologies:</p>
        <ul>
            <li>> Spring Framework (Java), .NET (C#), Microservices, Protocols (SOAP, REST, WSDL, JSON), MS SQL Server, Git, Unit Test, DevOps, Jenkins (Cloudbees), Openshift, Azure, AWS (Certified), HTML, CSS, JavaScript.</li>
        </ul>
        <p>Communication and Intercultural competence:</p>
        <ul>
            <li>> Bilingual speaker of Portuguese and English, currently studying Spanish.</li>
            <li>> Background of studying and living across three different countries, engaging with a range of cultures.</li>
        </ul>
        <p>Teamwork:</p>
        <ul>
            <li>> Collaborated with diverse teams to achieve collective goals.</li>
        </ul>
    </section>

    <section class="qualifications">
        <h2>Qualifications and Certificates</h2>
        <ul>
            <li>2023 AWS Certified Cloud Practitioner</li>
            <li>2023 Diploma of Information Technology</li>
            <li>2012 Bachelor of Science Degree in Information Systems</li>
            <li>2011 Microsoft Certified Professional</li>
            <li>2010 English as a Second Language</li>
            <li>2007 Data Processing Technician Course</li>
        </ul>
    </section>
    
    <section class="volunteering">
        <h2>Volunteering</h2>
        <p>2022 Volunteering at the Hare Krishna Temple</p>
        <ul>
            <li>> Served food to guests and assisted in the kitchen to prepare food.</li>
            <li>> Engaged with locals to build my English skills and immerse myself into the culture.</li>
        </ul>
    </section>
    
</div>